<h1>Edit ToDo Item</h1>
	<br/>
		<div class="card" style="width: 69rem; height: 15rem;">
  		<div class="card-body">
   				<%= render 'form', list: @list %>
 	 </div>
</div>

	<br/>
 
	<%= link_to 'Back', lists_path %>
